/* bg */
$_page_bg_color: rgb(38, 41, 50);
$_box_bg_color: rgb(50, 50, 62);
$_footer_bg_color: rgb(21, 21, 21);
$_img_bg_color: #262932;
$_title_bg_color: rgb(72, 72, 86);

$_active_color: #FF2424;
$_footer_active_color: #FF2424;
$_label_color: #FF2424;
$_link_color: #FF2424;
$_cancel_color: rgb(96, 96, 106);
$_border_color: rgb(42, 42, 56);

/* fonts */
$_font_normal: PingFangSC-Regular, sans-serif;
$_font_main: PingFangSC-Medium, sans-serif;

$_main_font_color: rgb(255, 255, 255);
$_title_font_color: rgb(243, 243, 243);
$_desc_font_color: rgb(146, 146, 164);

